@page "/counter"
@inject IValidator<IncrementCounter.Command> Validator
@inject ISnackbarService SnackbarService

<style>
    .counter-body {
        padding: 24px;
    }
</style>

<AppLayout>
    <AppLayoutHeader>
        <AppLayoutHeading>Counter</AppLayoutHeading>
    </AppLayoutHeader>
    <AppLayoutBody>
        <div class="counter-body">
            <Paragraph>Current count: @currentCount</Paragraph>
            <Button Color="Color.Primary" @onclick="IncrementCount" Outline>Click me</Button>    
        </div>
    </AppLayoutBody>
</AppLayout>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        var command = new IncrementCounter.Command
        {
            Value = currentCount
        };

        var validationResult = await Validator.ValidateAsync(command);

        if (!validationResult.IsValid)
        {
            SnackbarService.Show("The counter valus is invalid");
            return;
        }

        var response = await Mediator.Send(command);

        currentCount = response.Value;
    }
}
