<div style="display: grid; grid-template-columns: 1fr auto auto auto; grid-gap: 12px; align-items: center; justify-content: flex-end;">
    @if(PageSizeOptions.Count() > 0)
    {
        <span>Items per page: </span>
        <div>
            <Select SelectedValue="PageSize" TValue="int" SelectedValueChanged="OnPageSizeChanged">
                @foreach(var option in PageSizeOptions)
                {
                    <SelectItem Value="option">@option</SelectItem>
                }
            </Select>
        </div>
    }
    <div>
        @($"{(Index == 0 ? 1 : Index * PageSize)} - {PageSize * (Index + 1)} of {Length}")
    </div>
    <Pagination>
        <PaginationItem IsDisabled="IsFirstPage()">
            <PaginationLink Clicked="Previous">
                <span aria-hidden="true">«</span>
            </PaginationLink>
        </PaginationItem>
        <PaginationItem IsDisabled="IsLastPage()">
            <PaginationLink Clicked="Next">
                <span aria-hidden="true">»</span>
            </PaginationLink>
        </PaginationItem>
    </Pagination>
</div>


@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public int Length { get; set; }

    [Parameter]
    public IEnumerable<int> PageSizeOptions { get; set; } = new List<int>();

    [Parameter]
    public EventCallback<PageEvent> Page { get; set; } = new EventCallback<PageEvent>();

    public async void OnPageSizeChanged(int selectedValue)
    {
        await Page.InvokeAsync(new PageEvent
        {
            Length = Length,
            PageSize = selectedValue,
            PageIndex = Index
        });
    }
    public async void Next()
    {
        await Page.InvokeAsync(new PageEvent
        {
            Length = Length,
            PageSize = PageSize,
            PageIndex = Index + 1
        });
    }

    public async void Previous()
    {
        var index = Index - 1;
        if (index < 0)
            index = 0;

        await Page.InvokeAsync(new PageEvent
        {
            Length = Length,
            PageSize = PageSize,
            PageIndex = index
        });
    }

    public bool IsFirstPage()
    {
        return Index <= 0;
    }

    public bool IsLastPage()
    {
        return (Index + 1) * PageSize >= Length;
    }
}
