html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.pagination {
    margin: 0;
}

.page-item {
    cursor: pointer;
}

    .page-item.disabled {
        cursor: not-allowed;
    }

.progress-container {
    padding: 24px;
}

.sidebar .sidebar-nav {
    padding: 0;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.sidebar, .sidebar-content {
    height: 100%;
}

.sidebar-content {
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
}

table.app-table {
    position: relative;
    border-collapse: collapse;
}

table.app-table thead tr th {
    position: sticky;
    top: 0;
    background-color: white;
    border-top: none;
}

table.app-table th, td {
    min-width: 200px;
}

.app-layout {
    animation: fade-in 0.2s ease-in;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app-layout-header {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid gray;
    padding: 0 24px;
    align-items: center;
    align-content: center;
    height: 70px;
}

.app-layout-header .app-layout-heading {
    font-size: 24px;
}

.app-layout-body {
    overflow-y: auto;
}

.app-layout-footer {
    border-top: 1px solid gray;
    padding: 0 24px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    height: 70px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}